@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 17 56% 94%; /* #F8EBE7 */
    --foreground: 12 25% 15%;
    --card: 17 50% 98%;
    --card-foreground: 12 25% 15%;
    --popover: 17 50% 98%;
    --popover-foreground: 12 25% 15%;
    --primary: 12 73% 62%; /* #E2725B */
    --primary-foreground: 17 50% 98%;
    --secondary: 17 50% 90%;
    --secondary-foreground: 12 25% 15%;
    --muted: 17 50% 90%;
    --muted-foreground: 12 25% 45%;
    --accent: 26 73% 62%; /* #E28F5B */
    --accent-foreground: 17 50% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 17 40% 88%;
    --input: 17 40% 88%;
    --ring: 12 73% 62%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 12 10% 10%;
    --foreground: 17 50% 94%;
    --card: 12 10% 12%;
    --card-foreground: 17 50% 94%;
    --popover: 12 10% 10%;
    --popover-foreground: 17 50% 94%;
    --primary: 12 73% 62%;
    --primary-foreground: 17 50% 98%;
    --secondary: 12 10% 20%;
    --secondary-foreground: 17 50% 94%;
    --muted: 12 10% 20%;
    --muted-foreground: 17 50% 60%;
    --accent: 26 73% 62%;
    --accent-foreground: 17 50% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 10% 25%;
    --input: 12 10% 25%;
    --ring: 12 73% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
